.exercise_top {
    margin-bottom: 50px;
    text-align: center;
}

.exercise_top h2 {
    color: var(--heading-color);
    letter-spacing: 1px;
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 10px ;
}

.exercise_top .highlight {
    color: var(--primary-color);
    letter-spacing: 3px;
}

.exercise_top p{
    padding-top: 20px;
    font-size: 1.1rem;
    color: var(--heading-color);
    line-height: 28px;
    letter-spacing: 2px;
}

.exercise_wrapper {
    background: #befbdd;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    column-gap: 3rem;
    margin-bottom: 30px;
}

.exercise_item {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    width: 100%;
}

.exercise_icon {
    width:40%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: #f6fdf9;
}

.exercise_icon img {
    width: 100%;
    height: 100%;
}

.exercise_content {
    width: 100%;
}

.exercise_content h4 {
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.exercise_content p{
    font-size: 1rem;
    color: var(--heading-color);
    letter-spacing: 1px;
    line-height: 30px;
}