@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #53f7a5;
  --heading-color:#2A3439;
  --font-name: 'Signika Negative', sans-serif;
}

/*#99EDC3 - mint green
  #B2D3C2 - PISTACHIO green*/


/*default*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-name);
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 50px 0px;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

ul {
  list-style: none;
}

.container {
  width: 1140px;
  padding: 0px 15px;
  margin: auto;
}

.section_title {
  color: var(--heading-color);
  font-weight: 700;
}